# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://dpzmsxyelgznleyffzvt.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRwem1zeHllbGd6bmxleWZmenZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1OTkyOTIsImV4cCI6MjA4ODE3NTI5Mn0.XOAaibybqBjGdM7zkD2hNIHOgl3AAatkhYfI_wHGFlw

# Telegram Bot Token (for initData validation)
TELEGRAM_BOT_TOKEN=8590870760:AAGEfrCWwixfKBX9M1riB2BdEjctPDm2mx0
